<pre class="ascii name">

    ███████╗████████╗ █████╗ ██╗   ██╗
    ██╔════╝╚══██╔══╝██╔══██╗╚██╗ ██╔╝
    ███████╗   ██║   ███████║ ╚████╔╝ 
    ╚════██║   ██║   ██╔══██║  ╚██╔╝  
    ███████║   ██║   ██║  ██║   ██║   
    ╚══════╝   ╚═╝   ╚═╝  ╚═╝   ╚═╝   
    ██╗  ██╗██╗   ██╗██████╗ ██████╗  █████╗ ████████╗███████╗██████╗ 
    ██║  ██║╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔══██╗
    ███████║ ╚████╔╝ ██║  ██║██████╔╝███████║   ██║   █████╗  ██║  ██║
    ██╔══██║  ╚██╔╝  ██║  ██║██╔══██╗██╔══██║   ██║   ██╔══╝  ██║  ██║
    ██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║   ██║   ███████╗██████╔╝
    ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═════╝ 

</pre>