/* ==========================================================================
   Dirt skin
   ========================================================================== */

/* Colors */
$background-color: #002a35 !default;
$text-color: #ffffff !default;
$muted-text-color: #8e8b82 !default;
$border-color: #002a35 !default;
$footer-background-color: #000000 !default;
$link-color: #cb4b16 !default;
$masthead-link-color: #cb4b16 !default;
$masthead-link-color-hover: #cf7853 !default;
$navicon-link-color-hover: mix(rgb(131, 75, 75), $text-color, 80%) !default;

/* dirt syntax highlighting (base16) */
$base00:  #000e114b;
$base01:  #073642;
$base02:  #586e75;
$base03:  #657b83;
$base04:  #839496;
$base05:  #93a1a1;
$base06:  #eee8d5;
$base07:  #fdf6e3;
$base08:  #b58900;
$base09:  #cb4b16;
$base0a:  #dc322f;
$base0b:  #d33682;
$base0c:  #6c71c4;
$base0d:  #268bd2;
$base0e:  #2aa198;
$base0f:  #859900;


















